*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 20%;
}

.card p {
  padding: 4px;
  text-align: center;
}

.card img{
  max-height: 150px;
  width: 100%;
}